<a href="https://colab.research.google.com/github/Meena1711/KHUB-LEARNING/blob/main/PYTHON_TASK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **DAY-1 TASK**

 What is Python?

       Python is a popular programming language and high level language.
       uses of python

*  Web development
*  Software development

Python Installization : python --version

**Comments **

comments are used to explain code

comments starts with # symbol

for multi line comments we use tirple quotes (''' or """)

**variables**

variables are used to store data values

same variable can hold different data types at different times

In [ ]:
x = 5
y = "sally"
print(x)
print(y)

5
sally

In [ ]:
x = 5
x = "sally"
print(x)

sally

we use type() function to get type of a variable

In [ ]:
x =5
y = "sally"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

string variables can decelared either by using single or double quotes

In [ ]:
x ="john"
y ='john'
print(type(x))
print(type(y))

<class 'str'>
<class 'str'>

**Rules fo Python variables**


*   must start with a letter or underscore
*   cannont start with number
*   only contains alpha-numeric values and underscore
*   do not use special characters
*   they are case-sensitive
*   cannot start with python keywords

**Multi word variable Names**

1. Camel Case - Each word except the first starts with capital
2. Pascal case - each word starts with capital
3. Snake Case - each word is separated by underscore

In [ ]:
x, y, z = "apple" , "orange" , "cherry"
print(x)
print(y)
print(z)

apple
orange
cherry

In [ ]:
x = y = "apple"
print(x)
print(y)

apple
apple

In [ ]:
x ="she"
y = "is"
z ="sweet"
print(x + y + z)
print(x, y, z)

sheissweet
she is sweet

**Data Types**

1. string     - "john"
2.integer     - 20
3.float       - 72.6
4.complex     - 3+5j
5.list        - ["apple", "banana"]
6.tuple       - (10, 20)
7.range       - range(10)
8.dictionary  - {"name" : "john",  "age" : 25}
9.set         - {1, 2, 3}
10.frozenset  - frozenset([1, 2, 3])
11.boolen     - true / false
12.bytes      - b"hello"
13.nonetype   - none

In [ ]:
x = 1
y = 2.8
z = 1j

a = float(x)
b = int(y)
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

**Strings and Arrays**

Indexing starts from zero

In [ ]:
x = "hello world"
print(x[4])

o

In [ ]:
X ="HELLO"
print(len(X))

5

In [ ]:
x = "this a python programming"
print("is" in x)

True

**String slicing**

In [ ]:
x = "hello world"
print(x[2:5])

llo

In [ ]:
x = "hello world"
print(x[:8])

hello wo

In [ ]:
x ="hello world"
print(x[5:])

 world

In [ ]:
x ="kiet"
print(x[-4:-2])

ki

In [ ]:
x = "world"
print(x[::-1])

dlrow

In [ ]:
x ="abcdef"
print(x[0:7:2])

ace

In [ ]:
x ="madam"
if (x[::-1]) == x:
   print("palindrome")
else:
   print("not palindrome")

palindrome

In [ ]:
x = "abcdef"
k = 2
y = x[k:] + x[:k]
print(y)

cdefab

**Modify Strings**

upper case        - upper

lower case - lower

remove whitespace at beginning and end - strip

replace string

split string

In [ ]:
a = "python"
print(a.upper())

PYTHON

In [ ]:
a ="PYTHON"
print(a.lower())

python

In [ ]:
a ="         hello world          "
print(a.strip())

hello world

In [ ]:
a = "town"
print(a.replace("w" , "r"))

torn

In [ ]:
a = "python is fun"
print(a.split())

['python', 'is', 'fun']

In [ ]:
a = "class"
b = "room"
print(a + " " + b)

class room

**String Format**

In [ ]:
a = 20
b = f"I am sweety, I am {a}"
print (b)

I am sweety, I am 20

In [ ]:
a = f"the price is {10*40} dollars"
print(a)

the price is 400 dollars

**Escape characters**

\' single quote

\\ backslash

\n new line

\r carriage retun

\t tab

\b backspace

\f form feed

**String methods**

In [ ]:
a = "python"
x = a.capitalize()
print(x)

Python

In [ ]:
a = "PYTHON"
x = a.casefold()
print(x)

python

In [ ]:
a = "python"
x = a.center(50)
print(x)

                      python

In [ ]:
a = " i love python, python is easy"
x = a.count("python")
print(x)

2

In [ ]:
a = "python"
x = a.encode("ascii")
print(x)

b'python'

In [ ]:
a = " i love python, python is easy"
x = a.endswith("easy")
print(x)

True

In [ ]:
a = "p \t y \t t \t h \t o \t n"
x = a.expandtabs(10)
print(x)

p          y         t         h         o         n

In [ ]:
a = " i love python. python is easy"
x = a.find("l")
print(x)

3

In [ ]:
a = 50
x =f"{a:6f}"
print(x)

50.000000

In [ ]:
a = "hello, {name}!"
b = {"name":"chinni"}
x=a.format_map(b)
print(x)

hello, chinni!

In [ ]:
a = "hello world"
x=a.index("d")
print(x)

10

In [ ]:
a ="hello17"
x=a.isalnum()
print(x)

True

In [ ]:
a = "hello"
x=a.isalpha()
print(x)

True

In [ ]:
a="hello"
x=a.isascii()
print(x)

True

In [ ]:
a="04766"
x=a.isdecimal()
print(x)

True

In [ ]:
a="33Â²"
x=a.isdigit()
print(x)

True

In [ ]:
a = "7hello"
x = a.isidentifier()
print(x)

False

In [ ]:
a = "python"
x = a.islower()
print(x)

True

In [ ]:
a ="57a"
x = a.isnumeric()
print(x)

False

In [ ]:
a ="hello"
x = a.isprintable()
print(x)

True

In [ ]:
a = "   "
x = a.isspace()
print(x)

True

In [ ]:
a = "Apples Are Red"
x = a.istitle()
print(x)

True

In [ ]:
a = "python"
x = a.isupper()
print(x)

False

In [ ]:
a = ("x","y","z")
x = "@".join(a)
print(x)

x@y@z

In [ ]:
a = "hello"
x = a.ljust(10,"0")
print(x)

hello00000

In [ ]:
a = "hello"
x = a.rjust(10,"0")
print(x)

00000hello

In [ ]:
a = "heLLO"
x = a.lower()
print(x)

hello

In [ ]:
a = "0000001234560000000000000"
x = a.lstrip("0")
print(x)

1234560000000000000

In [ ]:
a = "0000001234560000000000000"
x = a.rstrip("0")
print(x)

000000123456

In [ ]:
a = "apple are red"
x = a.title()
print(x)

Apple Are Red

**Boolean values**

In [ ]:
a = int(input())
if a >= 18 :
  print("true")
else:
  print("false")

70
true

In [ ]:
x = "200"
print(isinstance(x, int))

False

**Python Operotors**

Arithmetic operators

Assignment operators

Comparison operators

Logical operators

Identity operators

Membership operators

Bitwise operators

**List methods**

In [ ]:
a = ["apple", "banana", "cherry"]
a[1] = "blackcurrant"
print(a)

['apple', 'blackcurrant', 'cherry']

In [ ]:
x = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
x[1:3] = ["blackcurrant", "watermelon"]
print(x)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [ ]:
a = ["apple", "banana", "cherry"]
a.insert(2, "watermelon")
print(a)

['apple', 'banana', 'watermelon', 'cherry']

In [ ]:
a = ["apple", "banana", "cherry"]
a.append("orange")
print(a)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
x = ["apple", "banana", "cherry"]
y = ["mango", "pineapple", "papaya"]
x.extend(y)
print(x)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
a = ["apple", "banana", "cherry"]
a.remove("cherry")
print(a)

['apple', 'banana']

In [ ]:
x = ["apple", "banana", "cherry"]
x.pop(1)
print(x)

['apple', 'cherry']

In [ ]:
x = ["apple", "banana", "cherry"]
x.pop()
print(x)

['apple', 'banana']

In [ ]:
x = ["apple", "banana", "cherry"]
del x[0]
print(x)

['banana', 'cherry']

In [ ]:
x = ["apple", "banana", "cherry"]
x.clear()
print(x)

[]

In [ ]:
x = ["apple", "banana", "cherry"]
for apple in x:
    print(apple)

apple
banana
cherry

In [ ]:
x = ["apple", "banana", "cherry"]
for i in range(len(x)):
    print(x[i])

apple
banana
cherry

In [ ]:
x = ["apple", "banana", "cherry"]
i = 0
while i < len(x):
  print(x[i])
  i = i + 1

apple
banana
cherry

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
y = [x for x in fruits if "a" in x]
print(y)

['apple', 'banana', 'mango']

In [ ]:
a = [x for x in range(10) if x < 5]
print(a)

[0, 1, 2, 3, 4]

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

n = [x.upper() for x in fruits]

print(n)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [ ]:
a = ["66", "45", "89", "38", "05"]
a.sort()
print(a)

['05', '38', '45', '66', '89']

In [ ]:
x = ["orange", "mango", "kiwi", "pineapple", "banana"]
x.sort(reverse = True)
print(x)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [ ]:
a = ["66", "45", "89", "38", "05"]
a.reverse()
print(a)

['05', '38', '89', '45', '66']

In [ ]:
x = ["apple", "banana", "cherry"]
y = x.copy()
print(y)

['apple', 'banana', 'cherry']

In [ ]:
x = ["apple", "banana", "cherry"]
y = list(x)
print(y)

['apple', 'banana', 'cherry']

In [ ]:
x = ["apple", "banana", "cherry"]
y = x[:]
print(y)

['apple', 'banana', 'cherry']

In [ ]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
a = ["a", "b", "c"]
a.append("d")
print(a)

['a', 'b', 'c', 'd']

In [ ]:
a = ["a", "b", "c"]
a.clear()
print(a)

[]

In [ ]:
a = ["a", "b", "c", "c"]
x=a.count('c')
print(x)

2

In [ ]:
a = ["a", "b", "c"]
b= ["d", "e", "f"]
a.extend(b)
print(a)

['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
a = ["a", "b", "c"]
x = a.index("b")
print(x)

1

In [ ]:
a = ["a", "b", "c"]
a.insert(3,"d")
print(a)

['a', 'b', 'c', 'd']

In [ ]:
a = ["a", "b", "c"]
a.pop(2)
print(a)

['a', 'b']

In [ ]:
a = ["f", "d", "c", "b", "a"]
a.sort()
print(a)

['a', 'b', 'c', 'd', 'f']

**Tuples**

A tuple is like list of items that you can't change once it's created

The data types we use in tuples are stringg, int, boolean

In [ ]:
a = ("a", "b", "c")
print(a)

('a', 'b', 'c')

In [ ]:
a = ("a", "b", "c")
print(len(a))

3

In [ ]:
a = ("a", "b", "c")
print(type(a))

<class 'tuple'>

In [ ]:
x = ("apple", "banana", "cherry")
print(x[1])

banana

In [ ]:
x = ("apple", "banana", "cherry")
print(x[-1])

cherry

In [ ]:
x = ("apple", "banana", "cherry", "pineapple","kiwi" )
print(x[2:4])

('cherry', 'pineapple')

In [ ]:
x = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(x[:4])

('apple', 'banana', 'cherry', 'orange')

In [ ]:
x = ("apple", "banana", "cherry")
if "apple" in x:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y.append("orange" )
x= tuple(y)
print(x)

('apple', 'banana', 'cherry', 'orange')

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y.remove("apple")
x = tuple(y)
print(x)

('banana', 'cherry')

In [ ]:
y = ("apple", "banana", "cherry")
for x in y:
  print(x)

apple
banana
cherry

In [ ]:
x = ("apple", "banana", "cherry")
i = 0
while i < len(x):
  print(x[i])
  i = i + 1

apple
banana
cherry

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

**sets**

In [ ]:
x = {"apple", "banana", "cherry"}
print(type(x))

<class 'set'>

In [ ]:
a = {"apple", "banana", "cherry"}

for x in a:
  print(x)

banana
cherry
apple

In [ ]:
x = {"apple", "banana", "cherry"}

x.add("orange")

print(x)

{'banana', 'orange', 'cherry', 'apple'}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"pineapple", "mango", "papaya"}

x.update(y)

print(x)

{'pineapple', 'banana', 'mango', 'cherry', 'papaya', 'apple'}

In [ ]:
x = {"apple", "banana", "cherry"}

x.remove("banana")

print(x)

{'cherry', 'apple'}

In [ ]:
x = {"apple", "banana", "cherry"}
x.discard("banana")
print(x)

{'cherry', 'apple'}

In [ ]:
x = {"apple", "banana", "cherry"}
x.clear()
print(x)

set()

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'a', 'c'}

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'a', 'c'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

**Dictionary**

In [ ]:
x = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(x)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x)

car["year"] = 2020

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [ ]:
x = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x.update({"year": 2020})
print(x)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
x = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x.clear()
print(x)

{}

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(x)

brand
model
year

In [ ]:
x = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x.update({"color": "red"})
print(x)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [ ]:
y = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = y.copy()
print(x)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
myfamily = {
  "child1" : {
    "name" : "chinni",
    "year" : 2004
  },
  "child2" : {
    "name" : "bunny",
    "year" : 2007
  },
  "child3" : {
    "name" : "munny",
    "year" : 2011
  }
}

print(myfamily)

{'child1': {'name': 'chinni', 'year': 2004}, 'child2': {'name': 'bunny', 'year': 2007}, 'child3': {'name': 'munny', 'year': 2011}}

**Python Conditions**

In [ ]:
age = int(input("Enter your age: "))

if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

Enter your age: 20
You are eligible to vote.

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

if a >= b and a >= c:
    print("The greatest number is:", a)
elif b >= a and b >= c:
    print("The greatest number is:", b)
else:
    print("The greatest number is:", c)

Enter first number: 5
Enter second number: 7
Enter third number: 9
The greatest number is: 9

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

print("\nChoose operation:")
print("1. Addition (+)")
print("2. Subtraction (-)")
print("3. Multiplication (*)")
print("4. Division (/)")
print("5. Modulus (%)")
print("6. Exponent (**)")
print("7. Floor Division (//)")

choice = int(input("Enter your choice (1-7): "))

match choice:
    case 1:
        print("Result:", num1 + num2)
    case 2:
        print("Result:", num1 - num2)
    case 3:
        print("Result:", num1 * num2)
    case 4:
        if num2 != 0:
            print("Result:", num1 / num2)
        else:
            print("Error: Division by zero")
    case 5:
        print("Result:", num1 % num2)
    case 6:
        print("Result:", num1 ** num2)
    case 7:
        if num2 != 0:
            print("Result:", num1 // num2)
        else:
            print("Error: Division by zero")
    case _:
        print("Invalid choice")

Enter first number: 7
Enter second number: 9

Choose operation:
1. Addition (+)
2. Subtraction (-)
3. Multiplication (*)
4. Division (/)
5. Modulus (%)
6. Exponent (**)
7. Floor Division (//)
Enter your choice (1-7): 3
Result: 63.0

# **DAY-2 TASK**

**LOOPS**

for loops

while loops

A for loop is used to repeat a block of code for each element in a sequence  until all elements are covered.

syntax:

for variable in sequence:

In [ ]:
a = ["32", "56", "79"]
for x in a:
  print(x)

32
56
79

when we want to loop a specific number of times we use range()

In [ ]:
for  i in range(6):
  print(i)

0
1
2
3
4
5

In [ ]:
for char in "Python":
    print(char)

P
y
t
h
o
n

In [ ]:
student = {"name": "Alice", "age": 20}
for key, value in student.items():
    print(key, value)

name Alice
age 20

In [ ]:
for i in range(6):
    for j in range(6):
        print("*",end="")
    print()

******
******
******
******
******
******

In [ ]:
for i in range(10):
  if i == 7:
       break
  print(i)

0
1
2
3
4
5
6

In [ ]:
for i in range(10):
    if i == 6:
        continue
    print(i)

0
1
2
3
4
5
7
8
9

else with for - Runs if loop finishes without break

In [ ]:
for num in range(3):
    print(num)
else:
    print("Loop completed")

0
1
2
Loop completed

In [ ]:
for i in range(10):
  if i ==6:
       continue
  print(i)
else:
    print("funished")

0
1
2
3
4
5
7
8
9
funished

In [ ]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

The while loop we can execute a set of statements as long as a condition is true.

syntax:

while condition:

In [ ]:
i = 0
while i <= 5:
    print(i)
    i+=1

0
1
2
3
4
5

In [ ]:
i= 0
while i <= 5:
    print(i)
    if i ==3:
        break
    i += 1

0
1
2
3

In [ ]:
i= 0
while i <= 5:
    i += 1
    if i ==3:
        continue
    print(i)

1
2
4
5
6

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Write a program that prints all even numbers from 1 to 50 using a for loop and if condition.

In [ ]:
for i in range(1,50):
  if i % 2 == 0:
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

Using a while loop, calculate the sum of all numbers entered by the user until the user types 0.

In [ ]:
i = 0

while True:
    num = int(input("Enter a number (0 to stop): "))

    if num == 0:
        break

    i += num

print("Total sum:", i)

Enter a number (0 to stop): 8
Enter a number (0 to stop): 9
Enter a number (0 to stop): 0
Total sum: 17

Take a string as input and count how many vowels it contains using a for loop and if condition.

In [ ]:
a = "higher-level-language"
b = "aeiouAEIOU"
count = 0
for char in a:
    if char in b:
        count += 1
print(count)

8

Write a program to print the multiplication table of a given number using a loop.

In [ ]:
num = int(input())
for i in range(1,11):
    print(num, "x", i, "=", num*i)

7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Write a program that continuously takes integer input from the user and prints them. Stop the loop (using break) if the user enters a negative number

In [ ]:
i = 0
while True:
    num = int(input("Enter a number: "))
    if num < 0:
        break
print(i)

Enter a number: 8
Enter a number: 0
Enter a number: -0
Enter a number: -8
0

Write a program that prints numbers from 1 to 20 but skips numbers divisible by 3 using continue.

In [ ]:
for i in range(1,20):
  if i % 3 == 0:
      continue
  print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19

Write a program that calculates the factorial of a number using a for loop.

In [ ]:
num = int(input())
fact = 1
for i in range(2, num + 1):
    fact = fact * i
print(fact)

5
120

patterns program

In [ ]:
for x in range(1,6):
  for y in range(1,x+1):
    print("*",end="")
  print()

*
**
***
****
*****

In [ ]:
x = 5
for i in range (1,x +1):
  print(i * "*")

*
**
***
****
*****

PRIME NUMBERS CODE

In [ ]:
x = int(input())
for num in range(2, x+1):
    for i in range(2, num):
        if num % i == 0:
            break
    else:
        print(num, end=" ")

50
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [ ]:
x = int(input())
divisior = 0
for i in range(2,x+1):
      y = x % i
      if y == 0:
        divisior += 1
        if divisior == 1:
          print("prime")
        else:
          print("not prime")

11
prime

**functions**

A function is a block of code which only runs when it is called.

Functions are reusable blocks of code designed to perform a specific task. Instead of writing the same code multiple times, you can define a function once and call it whenever needed.

def function_name(parameters):

    # function body
    return result

In [ ]:
def greet():
    print("Hello, welcome to Python!")

greet()

Hello, welcome to Python!

In [ ]:
def add(a, b):
    return a + b

result = add(5, 3)
print("Sum:", result)

Sum: 8

In [ ]:
def greet(name="User"):
    print("Hello,", name)

greet()
greet("Meena")

Hello, User
Hello, Meena

In [ ]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [ ]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [ ]:
def my_function(x):
  print(x)

my_function(x = 3)

3

In [ ]:
def factorial(n):
    if n == 1:
        return 1
    return n * factorial(n - 1)
print(factorial(4))

24

In [ ]:
def factorial(n):
    result = 1
    for i in range (1, n+1):
        result *= i
    return result
print(factorial(5))

120

In [ ]:
def add():
  a = 10
  b = 5
  print(a+b)
add()

15

In [ ]:
def add(a,b):
  print(a+b)
a = int(input())
b = int(input())
add(a,b)

30
60
90

In [ ]:
def add(a,b):
  print(a)
  print(b)
x = 10
y = 20
add(a,b)

30
60

In [ ]:
def add(a,b):
  print(a+b)
x = int(input())
y = int(input())
add(x,y)

3
4
7

In [ ]:
def add(a,b):
  print(a)
  print(b)
x = 10
y = 20
add(x,y)

10
20

In [ ]:
def add(a,b):
  print(a)
  print(b)
x = 10
y = 20
add(y,x)
add(x,y)

20
10
10
20

In [ ]:
c = 500
def add(c,d):
  print(c)
  print(d)
x = 10
y = 20
add(x,y)
print(c)

10
20
500

In [ ]:
c = 500
def add(c,d):
  print(c)
  print(d)
x = 10
y = 20
add(y,x)
add(x,y)
print(c)
add(d=y, c=x)

20
10
10
20
500
10
20

In [ ]:
def add(a,b):
  return a+b
print(add(5,6))

11

In [ ]:
def add(a,b):
  return a+b
x = add(12,13)
print(x + 30)

55

In [ ]:
def add(a,b):
  return a+b
def sub(a,d):
  return a-b
def mul(a,b):
  return a*b
def div(a,b):
  return a/b
def cal(a,b,opp):
    if opp == 1:
        return add(a,b)
    elif opp == 2:
        return sub (a,b)
    elif opp == 3:
        return mul (a,b)
    elif opp == 4:
        return div(a,b)
x = int(input("enter first num:"))
y= int(input("enter second num:"))
print(" enter 1 to add \n enter 2 to sub \n enter 3 to mul \n enter 4 to div")
z = int(input("enter your choice:"))
cal(x,y,z)

enter first num:3
enter second num:5
 enter 1 to add
 enter 2 to sub
 enter 3 to mul
 enter 4 to div
enter your choice:3

15

# **# DAY - 3 TASK**

**Coffee Machine Program Requirments**

In [6]:
menu = {
    "espresso": {
        "ingredients": {"water": 20, "coffee": 9, "milk": 100},
        "cost": 30
                },
    "lattee": {
        "ingredients": {"water": 40, "coffee": 12, "milk": 200},
        "cost": 50
            },
    "cappuccino": {
        "ingredients": {"water": 35, "coffee": 10, "milk": 120},
        "cost": 40
                  }
       }
resource = {"water": 1000,
            "milk": 850,
            "coffee": 250,
            "total_amount": 0
            }

def print_report():
  print(f"Water: {resource['water']}ml")
  print(f"Milk: {resource['milk']}ml")
  print(f"Coffee: {resource['coffee']}g")
  print(f"Money: ${resource['total_amount']}")



def check_resource(ingredients):
    for item in ingredients:
        if ingredients[item] > resource[item]:
            print(f"Sorry there is not enough {item}.")
            return False
    return True

def process_payment(cost):
    amount = int(input("enter the amount:"))
    if amount < cost:
        print("sorry, that's not the enough money. Money refunded")
        return False
    else:
        change = amount - cost
        print(f"Here is your change: {change}")
        resource["total_amount"] += cost
        return True

def make_coffee(coffee_name, ingredients):
    for item in ingredients:
        resource[item] -= ingredients[item]
    print(f"Here is your {coffee_name}. Enjoy!")

choice = input("What would you like? (espresso/lattee/cappuccino): ")

if choice == "off":
    is_on = False
    print("Coffee machine turning off. Goodbye!")

elif choice == "report":
  print_report()

elif coffee in menu:
    coffee_name = menu[coffee]
    if check_resource(coffee_name["ingredients"]):
        if process_payment(coffee_name["cost"]):
            make_coffee(coffee, coffee_name["ingredients"])
else:
    print("Sorry, that coffee is not available.")

What would you like? (espresso/lattee/cappuccino): report
Water: 1000ml
Milk: 850ml
Coffee: 250g
Money: $0